.app-body {
  color: white;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 35%;
  left: 10%;
  border-left: 4px solid white;
  padding: 2%;
  /* text-shadow: 5px 5px 5px rgb(36, 36, 36); */
}

.app-body>h1 {
  border-right: .1em solid white;
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
  /* animation: typing 7s steps(21, end),
    blink-caret .5s step-end infinite;
  -webkit-animation: typing 7s steps(21, end),
    blink-caret .5s step-end infinite */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
